/* GLOBAL STYLES */
html, body {
  margin: 0;
  padding: 0;
  /* font-family: 'Hina Mincho', serif;

  font-family: 'Montserrat', sans-serif;
*/
}

h1 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #fff;
}

h5 {
  color: #fff;
}

p {
  font-family: 'Hina Mincho', serif;
  /* font-size: 2vw;
  color: pink; */
}

/* HERO STYLES */
.hero {
  width: 100vw;
  height: 100vh;
  /* Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Text styles*/
  text-align: center;
  /* Background styles */
  background-image: url(/home/vela/repos/LYHOF/images/pic1.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-title {
  font-size: 4.5vw;
}

/* NEWSLETTER SIGN UP */

#mc_embed_signup {
  clear:left;
  width:100%;}

  .newsletter-signup {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
  }

  #signup-line {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }


.email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  font-size: 1rem;
  padding-left: 0.5rem;

}

.email::placeholder {
  color: #b1b1b1;
}

  .button {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #38A3A5;
    color: #fff;
    font-size: 1rem;
    margin-left: 2px;
    margin-bottom: 10px;

  }

  .button:hover {
    cursor: pointer;
    background-color: #F2A154;
    transition: all 0.4s ease-out;
  }
