/* GLOBAL STYLES */
html, body {
  margin: 0;
  padding: 0;
  /* font-family: 'Hina Mincho', serif;

  font-family: 'Montserrat', sans-serif;
*/
}

h1 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #fff;
}

h5 {
  color: #fff;
}

p {
  font-family: 'Hina Mincho', serif;
  /* font-size: 2vw;
  color: pink; */
}

/* HERO STYLES */
.hero {
  width: 100vw;
  height: 100vh;
  /* Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Text styles*/
  text-align: center;
  /* Background styles */
  background-image: url(/lightyourheartonfire/images/pic1.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-title {
  font-size: 4.5vw;
}
